<head>
  <h1>Index</h1>
</head>
<body>
  <ul>
    <li> <%= link_to "Product Catalogue", '/product_catalogue' %> </li>
    <li> <%= link_to "Submitted Orders", '/submitted_orders' %></li>
  </ul>
</body>